In [30]:
import pandas as pd

In [31]:
import numpy as np

In [32]:
df = pd.read_excel (r'/Users/faaizahdesai/Desktop/me2010.xlsx', sheet_name = '2010')

In [33]:
df2 = pd.read_excel (r'/Users/faaizahdesai/Desktop/them2010.xlsx', sheet_name = '2010')

In [34]:
pd.set_option("display.max_rows", None, "display.max_columns", None)

In [35]:
df_ss1 = df.sort_values(by = ['State','School']).reset_index()

In [49]:
df_ss1.head()

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
0,0,Alabama,Alabama,1276.0,0.0,424,154,Alabama,Alabama,1276.0,0.0,424,154
1,1,Alabama,Faulkner,589.0,0.0,323,126,Alabama,Faulkner,589.0,0.0,323,126
2,2,Alabama,Samford,1105.0,0.0,519,162,Alabama,Samford,1105.0,0.0,519,162
3,3,Arizona,Arizona,2242.0,0.0,756,160,Arizona,Arizona,2242.0,0.0,756,160
4,4,Arizona,Arizona State,2736.0,0.0,757,181,Arizona,Arizona State,2736.0,0.0,757,181

In [38]:
df_ss2 = df2.sort_values(by = ['State','School']).reset_index()

In [50]:
df_ss2.head()

,index,State,School,# Full-Time Applicants,# Part-Time Applicants,# of Offers,# of Matriculants
0,0,Alabama,Alabama,1276.0,0.0,424,154
1,1,Alabama,Faulkner,589.0,0.0,323,126
2,2,Alabama,Samford,1105.0,0.0,519,162
3,3,Arizona,Arizona,2242.0,0.0,756,160
4,4,Arizona,Arizona State,2736.0,0.0,757,181

In [40]:
df_ss1['State2']=df_ss2['State']

In [41]:
df_ss1['School2']=df_ss2['School']

In [42]:
df_ss1['# Full-Time Applicants2']=df_ss2['# Full-Time Applicants']

In [43]:
df_ss1['# Part-Time Applicants2']=df_ss2['# Part-Time Applicants']

In [44]:
df_ss1['# of Offers2']=df_ss2['# of Offers']

In [45]:
df_ss1['# of Matriculants2']=df_ss2['# of Matriculants']

In [48]:
df_ss1.head()

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
0,0,Alabama,Alabama,1276.0,0.0,424,154,Alabama,Alabama,1276.0,0.0,424,154
1,1,Alabama,Faulkner,589.0,0.0,323,126,Alabama,Faulkner,589.0,0.0,323,126
2,2,Alabama,Samford,1105.0,0.0,519,162,Alabama,Samford,1105.0,0.0,519,162
3,3,Arizona,Arizona,2242.0,0.0,756,160,Arizona,Arizona,2242.0,0.0,756,160
4,4,Arizona,Arizona State,2736.0,0.0,757,181,Arizona,Arizona State,2736.0,0.0,757,181

In [21]:
(df_ss1[df_ss1['School']!=df_ss1['School2']])

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
6,6,Arkansas,Arkansa-Little Rock,1418.0,171.0,409,154,Arkansas,Arkansas,1239.0,0.0,381,137
7,7,Arkansas,Arkansas,1239.0,0.0,381,137,Arkansas,Arkansas-Little Rock,1418.0,171.0,409,154
8,8,California,California Westerm,2428.0,182.0,1383,393,California,California Western,2428.0,182.0,1383,393
9,9,California,California-Berkeley,7390.0,0.0,838,270,California,California-Berkley,7390.0,0.0,838,270
31,31,Connecticut,Qunnipac,1917.0,643.0,787,133,Connecticut,Quinnipiac,1917.0,643.0,787,133
37,37,District of Columbia,George Washigton,NaN,NaN,2087,517,District of Columbia,George Washington,NaN,NaN,2087,517
49,49,Florida,St.Loius,2030.0,412.0,1093,292,Florida,St. Thomas,2387.0,0.0,1075,274
51,51,Georgia,Atlanta'a John Marshall,1252.0,278.0,577,168,Georgia,Atlanta's John Marshall,1252.0,278.0,577,168
61,61,Illinois,Illinos,3299.0,0.0,947,188,Illinois,Illinois,3299.0,0.0,947,188
65,65,Illinois,Nortwestern,4868.0,0.0,873,242,Illinois,Northwestern,4868.0,0.0,873,242
76,76,Kentucky,Lousiana State,1299.0,0.0,499,211,Kentucky,Louisville-Brandeis,1062.0,90.0,486,148
78,78,Louisiana,Louisville-Brandeis,1062.0,90.0,486,148,Louisiana,Louisiana State,1299.0,0.0,499,211
79,79,Louisiana,Loyola-New Orlenas,1453.0,158.0,799,245,Louisiana,Loyola-New Orleans,1453.0,158.0,799,245
80,80,Louisiana,Southern,862.0,252.0,376,222,Louisiana,Southern,862.0,252.0,376,222
85,85,Massachusetts,Boston,5907.0,0.0,1740,284,Massachusetts,Boston,5907.0,0.0,1740,284
97,97,Minnesota,Hamlin,1219.0,231.0,700,233,Minnesota,Hamline,1219.0,231.0,700,233
99,99,Minnesota,St.Thomas,2387.0,0.0,1075,274,Minnesota,St. Thomas-Minneapolis,1713.0,0.0,836,151
100,100,Minnesota,William & Mary,4576.0,0.0,1157,220,Minnesota,William Mitchell,1203.0,422.0,773,317
101,101,Mississippi,Mississippi,1380.0,0.0,470,164,Mississippi,Mississippi,1380.0,0.0,470,164
105,105,Missouri,St. Mary's,1540.0,214.0,893,323,Missouri,St. Louis,2030.0,412.0,1093,292
106,106,Missouri,Washington University,3700.0,0.0,996,266,Missouri,Washington University,3700.0,0.0,996,266
108,108,Nebraska,Creigthon,1092.0,54.0,639,169,Nebraska,Creighton,1092.0,54.0,639,169
125,125,New York,New York,2590.0,486.0,1188,249,New York,New York,2590.0,486.0,1188,249
135,135,North Carolina,Norh Carolina Central,1984.0,802.0,531,222,North Carolina,North Carolina,3063.0,0.0,579,255
136,136,North Carolina,North Carolina,3063.0,0.0,579,255,North Carolina,North Carolina Central,1984.0,802.0,531,222
146,146,Ohio,Oklahoma,1137.0,0.0,330,178,Ohio,Ohio State,2375.0,0.0,767,231
148,148,Oklahoma,Oklahoma City,1111.0,90.0,782,241,Oklahoma,Oklahoma,1137.0,0.0,330,178
149,149,Oklahoma,Onio State,2375.0,0.0,767,231,Oklahoma,Oklahoma City,1111.0,90.0,782,241
151,151,Oregon,Lewis & Clarke,2656.0,189.0,1041,219,Oregon,Lewis & Clark,2656.0,189.0,1041,219
153,153,Oregon,William Mitchell,1203.0,422.0,773,317,Oregon,Willmette,1094.0,0.0,520,153
163,163,Puerto Rico,Pontificial Catholic,412.0,164.0,275,249,Puerto Rico,Pontifical Catholic,412.0,164.0,275,249
176,176,Texas,St. Thomas-Minneapolis,1713.0,0.0,836,151,Texas,St. Mary's,1540.0,214.0,893,323
191,191,Virginia,Willamette,1094.0,0.0,520,153,Virginia,William & Mary,4576.0,0.0,1157,220
198,198,Wyoming,Wyoming,706.0,0.0,237,28,Wyoming,Wyoming,706.0,0.0,237,78

In [25]:
(df_ss1[df_ss1['#Full-Time Applicants']!=df_ss1['# Full-Time Applicants2']])

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
6,6,Arkansas,Arkansa-Little Rock,1418.0,171.0,409,154,Arkansas,Arkansas,1239.0,0.0,381,137
7,7,Arkansas,Arkansas,1239.0,0.0,381,137,Arkansas,Arkansas-Little Rock,1418.0,171.0,409,154
33,33,Delaware,Widener,1452.0,258.0,1603,192,Delaware,Widener,2000.0,520.0,1386,374
37,37,District of Columbia,George Washigton,NaN,NaN,2087,517,District of Columbia,George Washington,NaN,NaN,2087,517
49,49,Florida,St.Loius,2030.0,412.0,1093,292,Florida,St. Thomas,2387.0,0.0,1075,274
76,76,Kentucky,Lousiana State,1299.0,0.0,499,211,Kentucky,Louisville-Brandeis,1062.0,90.0,486,148
78,78,Louisiana,Louisville-Brandeis,1062.0,90.0,486,148,Louisiana,Louisiana State,1299.0,0.0,499,211
88,88,Massachusetts,New England,2424.0,854.0,1788,384,Massachusetts,New England,2524.0,854.0,1788,384
99,99,Minnesota,St.Thomas,2387.0,0.0,1075,274,Minnesota,St. Thomas-Minneapolis,1713.0,0.0,836,151
100,100,Minnesota,William & Mary,4576.0,0.0,1157,220,Minnesota,William Mitchell,1203.0,422.0,773,317
105,105,Missouri,St. Mary's,1540.0,214.0,893,323,Missouri,St. Louis,2030.0,412.0,1093,292
135,135,North Carolina,Norh Carolina Central,1984.0,802.0,531,222,North Carolina,North Carolina,3063.0,0.0,579,255
136,136,North Carolina,North Carolina,3063.0,0.0,579,255,North Carolina,North Carolina Central,1984.0,802.0,531,222
146,146,Ohio,Oklahoma,1137.0,0.0,330,178,Ohio,Ohio State,2375.0,0.0,767,231
148,148,Oklahoma,Oklahoma City,1111.0,90.0,782,241,Oklahoma,Oklahoma,1137.0,0.0,330,178
149,149,Oklahoma,Onio State,2375.0,0.0,767,231,Oklahoma,Oklahoma City,1111.0,90.0,782,241
153,153,Oregon,William Mitchell,1203.0,422.0,773,317,Oregon,Willmette,1094.0,0.0,520,153
161,161,Pennsylvania,Widener,2000.0,520.0,1386,374,Pennsylvania,Widener,1452.0,258.0,1603,192
176,176,Texas,St. Thomas-Minneapolis,1713.0,0.0,836,151,Texas,St. Mary's,1540.0,214.0,893,323
191,191,Virginia,Willamette,1094.0,0.0,520,153,Virginia,William & Mary,4576.0,0.0,1157,220

In [27]:
(df_ss1[df_ss1['#Part-Time Applicants']!=df_ss1['# Part-Time Applicants2']])

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
6,6,Arkansas,Arkansa-Little Rock,1418.0,171.0,409,154,Arkansas,Arkansas,1239.0,0.0,381,137
7,7,Arkansas,Arkansas,1239.0,0.0,381,137,Arkansas,Arkansas-Little Rock,1418.0,171.0,409,154
33,33,Delaware,Widener,1452.0,258.0,1603,192,Delaware,Widener,2000.0,520.0,1386,374
37,37,District of Columbia,George Washigton,NaN,NaN,2087,517,District of Columbia,George Washington,NaN,NaN,2087,517
49,49,Florida,St.Loius,2030.0,412.0,1093,292,Florida,St. Thomas,2387.0,0.0,1075,274
76,76,Kentucky,Lousiana State,1299.0,0.0,499,211,Kentucky,Louisville-Brandeis,1062.0,90.0,486,148
78,78,Louisiana,Louisville-Brandeis,1062.0,90.0,486,148,Louisiana,Louisiana State,1299.0,0.0,499,211
100,100,Minnesota,William & Mary,4576.0,0.0,1157,220,Minnesota,William Mitchell,1203.0,422.0,773,317
105,105,Missouri,St. Mary's,1540.0,214.0,893,323,Missouri,St. Louis,2030.0,412.0,1093,292
135,135,North Carolina,Norh Carolina Central,1984.0,802.0,531,222,North Carolina,North Carolina,3063.0,0.0,579,255
136,136,North Carolina,North Carolina,3063.0,0.0,579,255,North Carolina,North Carolina Central,1984.0,802.0,531,222
148,148,Oklahoma,Oklahoma City,1111.0,90.0,782,241,Oklahoma,Oklahoma,1137.0,0.0,330,178
149,149,Oklahoma,Onio State,2375.0,0.0,767,231,Oklahoma,Oklahoma City,1111.0,90.0,782,241
153,153,Oregon,William Mitchell,1203.0,422.0,773,317,Oregon,Willmette,1094.0,0.0,520,153
161,161,Pennsylvania,Widener,2000.0,520.0,1386,374,Pennsylvania,Widener,1452.0,258.0,1603,192
176,176,Texas,St. Thomas-Minneapolis,1713.0,0.0,836,151,Texas,St. Mary's,1540.0,214.0,893,323

In [28]:
(df_ss1[df_ss1['# of Offers']!=df_ss1['# of Offers2']])

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
6,6,Arkansas,Arkansa-Little Rock,1418.0,171.0,409,154,Arkansas,Arkansas,1239.0,0.0,381,137
7,7,Arkansas,Arkansas,1239.0,0.0,381,137,Arkansas,Arkansas-Little Rock,1418.0,171.0,409,154
33,33,Delaware,Widener,1452.0,258.0,1603,192,Delaware,Widener,2000.0,520.0,1386,374
49,49,Florida,St.Loius,2030.0,412.0,1093,292,Florida,St. Thomas,2387.0,0.0,1075,274
76,76,Kentucky,Lousiana State,1299.0,0.0,499,211,Kentucky,Louisville-Brandeis,1062.0,90.0,486,148
78,78,Louisiana,Louisville-Brandeis,1062.0,90.0,486,148,Louisiana,Louisiana State,1299.0,0.0,499,211
99,99,Minnesota,St.Thomas,2387.0,0.0,1075,274,Minnesota,St. Thomas-Minneapolis,1713.0,0.0,836,151
100,100,Minnesota,William & Mary,4576.0,0.0,1157,220,Minnesota,William Mitchell,1203.0,422.0,773,317
105,105,Missouri,St. Mary's,1540.0,214.0,893,323,Missouri,St. Louis,2030.0,412.0,1093,292
135,135,North Carolina,Norh Carolina Central,1984.0,802.0,531,222,North Carolina,North Carolina,3063.0,0.0,579,255
136,136,North Carolina,North Carolina,3063.0,0.0,579,255,North Carolina,North Carolina Central,1984.0,802.0,531,222
146,146,Ohio,Oklahoma,1137.0,0.0,330,178,Ohio,Ohio State,2375.0,0.0,767,231
148,148,Oklahoma,Oklahoma City,1111.0,90.0,782,241,Oklahoma,Oklahoma,1137.0,0.0,330,178
149,149,Oklahoma,Onio State,2375.0,0.0,767,231,Oklahoma,Oklahoma City,1111.0,90.0,782,241
153,153,Oregon,William Mitchell,1203.0,422.0,773,317,Oregon,Willmette,1094.0,0.0,520,153
161,161,Pennsylvania,Widener,2000.0,520.0,1386,374,Pennsylvania,Widener,1452.0,258.0,1603,192
176,176,Texas,St. Thomas-Minneapolis,1713.0,0.0,836,151,Texas,St. Mary's,1540.0,214.0,893,323
191,191,Virginia,Willamette,1094.0,0.0,520,153,Virginia,William & Mary,4576.0,0.0,1157,220

In [29]:
(df_ss1[df_ss1['# of Matriculants']!=df_ss1['# of Matriculants2']])

,index,State,School,#Full-Time Applicants,#Part-Time Applicants,# of Offers,# of Matriculants,State2,School2,# Full-Time Applicants2,# Part-Time Applicants2,# of Offers2,# of Matriculants2
6,6,Arkansas,Arkansa-Little Rock,1418.0,171.0,409,154,Arkansas,Arkansas,1239.0,0.0,381,137
7,7,Arkansas,Arkansas,1239.0,0.0,381,137,Arkansas,Arkansas-Little Rock,1418.0,171.0,409,154
33,33,Delaware,Widener,1452.0,258.0,1603,192,Delaware,Widener,2000.0,520.0,1386,374
49,49,Florida,St.Loius,2030.0,412.0,1093,292,Florida,St. Thomas,2387.0,0.0,1075,274
76,76,Kentucky,Lousiana State,1299.0,0.0,499,211,Kentucky,Louisville-Brandeis,1062.0,90.0,486,148
78,78,Louisiana,Louisville-Brandeis,1062.0,90.0,486,148,Louisiana,Louisiana State,1299.0,0.0,499,211
99,99,Minnesota,St.Thomas,2387.0,0.0,1075,274,Minnesota,St. Thomas-Minneapolis,1713.0,0.0,836,151
100,100,Minnesota,William & Mary,4576.0,0.0,1157,220,Minnesota,William Mitchell,1203.0,422.0,773,317
105,105,Missouri,St. Mary's,1540.0,214.0,893,323,Missouri,St. Louis,2030.0,412.0,1093,292
124,124,New York,Hofstra,4721.0,885.0,2410,563,New York,Hofstra,4721.0,885.0,2410,565
135,135,North Carolina,Norh Carolina Central,1984.0,802.0,531,222,North Carolina,North Carolina,3063.0,0.0,579,255
136,136,North Carolina,North Carolina,3063.0,0.0,579,255,North Carolina,North Carolina Central,1984.0,802.0,531,222
146,146,Ohio,Oklahoma,1137.0,0.0,330,178,Ohio,Ohio State,2375.0,0.0,767,231
148,148,Oklahoma,Oklahoma City,1111.0,90.0,782,241,Oklahoma,Oklahoma,1137.0,0.0,330,178
149,149,Oklahoma,Onio State,2375.0,0.0,767,231,Oklahoma,Oklahoma City,1111.0,90.0,782,241
153,153,Oregon,William Mitchell,1203.0,422.0,773,317,Oregon,Willmette,1094.0,0.0,520,153
161,161,Pennsylvania,Widener,2000.0,520.0,1386,374,Pennsylvania,Widener,1452.0,258.0,1603,192
176,176,Texas,St. Thomas-Minneapolis,1713.0,0.0,836,151,Texas,St. Mary's,1540.0,214.0,893,323
191,191,Virginia,Willamette,1094.0,0.0,520,153,Virginia,William & Mary,4576.0,0.0,1157,220
198,198,Wyoming,Wyoming,706.0,0.0,237,28,Wyoming,Wyoming,706.0,0.0,237,78